*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.container .album{ 
    width: 350px;   
    margin: 60px auto;   
    display: flex;
}  
a{ 
color: black;
    align-items: center;
    display: inline-flex; 
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.nav{
    margin: 10px;
    width:30px;
    height:30px; 
    }
.container-nav{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
body{
    text-decoration: none;
    background: #105ABB;
    background: linear-gradient(to right, #d60b20, #28d18e, #02a1f4, #db11d0 );
      background-size: 500%;
    -webkit-animation: animaFundo 7s ease infinite;
    -moz-animation: animaFundo 7s ease infinite;
    animation: animaFundo 7s ease infinite;
}
@-webkit-keyframes animaFundo {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes animaFundo {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1{
    display: flex; 
    justify-content: center;
    text-align: center; 
    margin-top: 10px;

} 
p.sub-titulo{
    max-width: 700px;
    margin: 60px auto;
    margin-top: 16px;
    display: flex; 
    justify-content: center;
    text-align: center; 
    font-size: 18px;
}
h4.text{
    margin: 0 auto 10;
    max-width: 280px;
    display: flex; 
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

img.decoraçao{ 
    margin: auto;
    width: 280px;
    display: flex;
}
 .ver{  
    margin: 10px auto 40px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    background: rgb(190, 188, 188);
    border-radius: 6px 25px ;
    transition:background 400ms; 
 } 
 button:hover{
    cursor: pointer; 
    background: #ffffff;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
 }
