
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&family=Roboto+Mono:wght@300;400&family=Roboto:wght@300;400;700&display=swap');

body{
    text-decoration: none;
    background: #105ABB;
    background: linear-gradient(to right, #d60b20, #28d18e, #02a1f4, #db11d0 );
    background-size: 500%;
    -webkit-animation: animaFundo 7s ease infinite;
    -moz-animation: animaFundo 7s ease infinite;
    animation: animaFundo 7s ease infinite;
}

@-webkit-keyframes animaFundo {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes animaFundo {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.container{
    margin: 60px auto;
    max-width: 700px;  
    min-width: 200px;
    display: block;
    align-items: center;
    text-align: center;
}

.navbar{
    margin: 10px 60px;
    width:30px;
    height:30px;
}
.navbar a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 600;
}


h1{
    display: flex; 
    justify-content: center;
    text-align: center; 
    margin-top: 10px;
    font-size: 60px;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 600;
} 
p{
    max-width: 100%;
    margin: 60px auto;
    margin-top: 16px;
    font-size: 25px;
    font-family: cursive;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: black;
}
    footer{ 
        margin-bottom: 80px; 
        font-family: 'Edu TAS Beginner', cursive;
        font-size: 18px;
        font-weight: 900;
        color: #080808; 
        transition: backgroud 400ms;
      } 
      footer:hover{ 
        filter: drop-shadow(0px 0px 10px rgb(235, 229, 229));
        opacity: 1;
      }
