@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background: #105ABB;
  background: linear-gradient(to right, #d60b20, #28d18e, #02a1f4, #db11d0 );
    background-size: 400%;
  -webkit-animation: animaFundo 7s ease infinite;
  -moz-animation: animaFundo 7s ease infinite;
  animation: animaFundo 7s ease infinite;

  
} 

@-webkit-keyframes animaFundo {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes animaFundo {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*h1.loja{
    margin-top: 24px;
    margin-bottom: 8px;  
    font-family: 'Dancing Script', cursive;
   font-family: 'Great Vibes', cursive;
    font-size: 55px;
    font-weight:700;
    color: #020720; 
}
*/  

h2.profissão, .frase{ 
    opacity: 0.80;
    font-size:18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;  

}
ul.serviços{
    list-style: none; 

    font-family: 'Roboto Mono', monospace; 
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 2px;
    color: #000000;
} 
.container{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    width: 350px;   
    margin: 60px auto; 
} 
 img.logo{
width: 270px;
height: 140px; 
 } 
 ul.lista{
    list-style: none;
    margin: 48px 0;
 } 
  ul li a { 
    gap: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px; 
    color: black;
    background: rgb(190, 188, 188);
    border-radius: 6px 30px ;
    transition:background 400ms; 
  } 
  ul li a:hover{
    cursor: pointer; 
    background: #ffffff;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  } 
  footer.rodape{ 
    margin-bottom: 80px; 
    
    font-family: 'Great Vibes', cursive;
    font-size: 18px;
    font-weight: 900;
    color: #080808; 
    transition: backgroud 400ms;
  } 
  footer:hover{ 
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    opacity: 1;
  }